.wazowski {
  background-color: #c4f10f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.th-wazowski {
  background-color: #c4f10f;
  width: 20px;
  height: 20px;
  padding: 0px;
}

.verde {
  background-color: #b3ce62;
  width: 20px;
  height: 20px;
}

.verde-escuro {
  background-color: #445528;
  width: 20px;
  height: 20px;
}

.branco-wazowski {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}
