@media (width > 1750px) {
  :root {
    font-size: 115%;
  }
}

@media (width > 2000px) {
  :root {
    font-size: 125%;
  }
}

@media (width > 2250px) {
  :root {
    font-size: 135%;
  }
}

@media (width > 2750px) {
  :root {
    font-size: 145%;
  }
}

@media (width > 3000px) {
  :root {
    font-size: 200%;
  }
}

@media (width < 210px) {
  :root {
    font-size: 80%;
  }
}

@media (width < 320px) {
  :root {
    font-size: 50%;
  }
}

@media (width < 160px) {
  :root {
    font-size: 25%;
  }
}

/**********************************************************************/
/******************************* HEADER *******************************/
/**********************************************************************/

@media (width < 750px) {
  .header {
    flex-direction: column;
    padding-block: 1em;
    text-align: center;
    position: static;
  }
}

@media (width < 450px) {
  .header-menu {
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: center;
  }
}

/**********************************************************************/
/******************************** MAIN ********************************/
/**********************************************************************/

@media (width < 555px) {
  .main-form-group > .main-form-wrapper:nth-child(1) {
    flex-basis: 100%;
  }
}

@media (width < 510px) {
  .main-title {
    font-size: 2rem;
  }
}

/**********************************************************************/
/******************************* FOOTER *******************************/
/**********************************************************************/

/* @media (width < 1120px) {
  .footer {
    flex-wrap: wrap;
  }
} */
